.logo{
    transform-style: preserve-3d;
    width: 160vh;
    height: 70vh;
    position: relative;
    margin: 15vh auto;
  }
  
  .ring{
    width: 40vh;
    height: 40vh;
    border-radius: 50%;
    border: solid blue 4vh;
    position: absolute;
    background: transparent;
  }
  
  .blue{
    border-color: #0085c7;
    transform: rotateX(-45deg) scaleY(1.4142);
  }
  .yellow{
    border-color: #f4c300;
    left: 28vh;
    top: 18vh;
    transform: rotateX(0deg);
  }
  
  .black{
    border-color: black;
    left: 56vh;
    transform: rotateX(45deg) scaleY(1.4142);
  
  }
  
  .green{
    border-color:  #009f3d;
    top: 18vh;
    left: 84vh;
    transform: translateZ(20vh)  rotateX(70deg) scaleY(2.9238);
  
  }
  
  .red{
    border-color: #df0024;
    left: 112vh;
    transform: translateZ(-32vh) rotateX(80deg) scaleY(5.7588);
  
  }
  
  
  /* For DEMO only */
  /* .logo{
    transform: rotateY(0deg);
    transition: transform 1s;
  }
  .logo:hover{
    transform: rotateY(45deg);
  } */